{% load static %}
<nav>
    <div class="container">
        <div class="nav-left">
            <div>
                <a href="{% url "public:home" %}"><img id="nav-logo" src="{% static 'funsport/img/logo1.jpg' %}" alt="Logo"></a>
            </div>
            <ul>
                <li><a href="{% url "public:home" %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profiles:group_index' %}">Groepen</a></li>
                    <li><a href="{% url 'gallery:index' %}">Gallerij</a></li>

                {% endif %}

            </ul>
        </div>
        <ul>
            {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url "profiles:profile" %}">{{ user.username }}</a></li>
                <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>