{% extends 'partials/base.html' %}

{% block content %}
    <div class="container">
        <!-- Profile gedeelte -->
        <div class="row">
            <div class="col-sm-3">
                <div class="avatar-container">
                    <img class="avatar" src="{{ user.avatar.url }}" alt="">
                </div>
            </div>
            <div class="col-sm-9">
                <h2 class="d-inline">{{ user.dude_name }}</h2>
                <table class="table table-borderless">
                    <tr>
                        <td>Naam</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Rol</td>
                        <td>{{ user.role }}</td>
                    </tr>
                    <tr>
                        <td>Laatst online</td>
                        <td>{{ user.last_login | date:'d-m-Y' }}</td>
                    </tr>
                </table>
                <p>{{ user.description }}</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-12">
                <h2>Comments</h2>
                <i>In ontwikkeling</i>
            </div>
        </div>
       
    </div>
    
{% endblock %}