{% extends 'enigma/template.html' %}
{% load static %}

{% block extra_includes %}
    <style>
        .footer {
            display: none;
        }
        nav {
            display: none;
        }
        body {
            background: #f5f5f5;
        }
        .content {
            padding: 0;
            margin: 0;
            height: calc(100% - 73px);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="error-page">
        <div class="banner">
            <img src="{% static 'enigma/img/logo.svg' %}" alt="">
        </div>
        <div class="wrapper">
            <img src="{% static 'enigma/img/robot.svg' %}" alt="">
            <h1>Error 404</h1>
            <h3>Deze pagina bestaat niet.</h3>
            <p>Indien dit probleem zich blijft voordoen, laat het ons weten op <a href="mailto:info@hij5.nl"><b>info@hij5.nl</b></a></p>
            <a href="{% url 'topdesk:home' %}"><button>Terug naar home</button></a>
        </div>
    </div>
{% endblock %}